.title {
  color: rgb(235, 135, 135);
}

body {
  background-color: rgb(227, 207, 207);
}

.container {
  background-color: rgb(244, 225, 225);
  color: rgb(189, 0, 0);
  width: 50%;
  height: 50vh;
  margin: 150px;
  margin-left: 350px;
  padding: 15px;
  border: 1px solid rgb(189, 0, 0);
  border-radius: 25px;
  box-shadow: 10px 10px;
}


.values {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 350px;
  height: 30px;
  font-size: large;
  color: rgb(189, 0, 0);
}

.submit {
  background-color: rgb(189, 0, 0);
  color: rgb(244, 225, 225);
  border: none;
  padding: 8px;
  width: 80px;
  height: 30px;
}

.submit:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(244, 225, 225);

}